<!doctype html>
<html ng-app>
<head>
<title>Catalog Viewer</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script src="hello.js"></script>
</head>

<body>
	<form action="/index.html">
		Form: <select name="form" ng-controller="Forms">
			<option value="{{s}}" ng-repeat="s in forms">{{s}}
		</select><br>
		School: <select name="school" ng-controller="Schools">
			<option value="{{s}}" ng-repeat="s in schools">{{s}}
		</select><br>
		TimeFrame: <select name="timeFrame" ng-controller="TimeFrames">
			<option value="{{s}}" ng-repeat="s in timeFrames">{{s}}
		</select><br>
		Type: <select name="type" ng-controller="Types">
			<option value="{{s}}" ng-repeat="s in types">{{s}}
		</select><br>
		<input type="submit" value="Submit">
	</form>
	
	<div ng-show="worksByAuthor" ng-controller="WorksByAuthor">
		Authors: <select name="author" ng-model="selectedAuthor">
			<option value="{{s}}" ng-repeat="s in getAuthors()">{{s}}
		</select>
		
		<div ng-show="selectedAuthor">
			<button ng-click="index = index + 1">Next</button>
			{{getWorks()}}
			<p>
				{{work.author}}, <i>{{work.title}}</i>, {{work.year}}, {{work.location}}<br>
				{{work.technique}}<br>
				<img alt="{{work.title}}" ng-src="{{work.uri}}">
			</p>
			<!-- {{work.form}} {{work.school}} {{work.timeFrame}} {{work.type}} -->
		</div>
	</div>
</body>
</html>